*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-color: hsl(0, 0%, 94%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

.main-container{
   
    background-color: hsl(0, 0%, 100%);
    width: 50%;
    padding: 2em;
    border-radius: 15px 15px 150px 15px;
}

.part{
    display: flex;
    flex-direction: column;
}

.divider{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
}

.line{
    background-color: hsl(0, 0%, 86%);
    width:90%;
    height: 1px;
    margin: 1em 0;
}

.circle{
    background-color: hsl(259, 100%, 65%);
    border-radius: 500px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .7em;
    cursor: pointer;
}

.circle:hover{
    background-color: black;
}

.inputs{
    max-width:70%;
    display: flex;
    flex-direction: row;
}

.dmy{
    color: hsl(0, 1%, 44%);
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: .2em;
}

input{
    border-radius: 5px;
    color:hsl(0, 1%, 44%);
    text-transform: uppercase;
    font-weight: 600;
    border: solid 1px hsl(0, 0%, 86%);
    width: 80%;
    font-size:1.5rem;
    padding: .5em;
    cursor: pointer;
}

input:hover{
    border: solid 1px rgb(165, 162, 162);
}

.calculation{
    font-size: 5rem;
    font-style: italic;
    font-weight: 800;
    line-height: 1.2em;
}

.number{
    color:hsl(259, 100%, 65%);
}